               
    <% @browse_result.each do |room| %>  
        <div class="col-md-4">
            <%=link_to room_path(room.id) do %>
                <div class="card mb-2 shadow text-center mb-3">
                    <div class="card-header text-center">
                        <div class="h4"><%= room.listing_name %></div> 
                    </div>
                    <% if room.images.attached? %>
                        <%= image_tag room.medium_image(room.images[0]), class: "img-fluid"%>
                    <% end %>
                    <div class="card-body">
                        <div class="card-text">
                            <%= room.address %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>    
    <% end %>